* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilroy;
    color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
    
}

#main{
    min-height: 100%;
    width: 100%;
    background-color:#010b16;
    padding: 100px 0;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}
#main>h1{
    font-size: 48px;
    display: flex;
    align-items: center;
}
#main>h1 span{
    margin: 0 15px;
    display: flex;
    align-items: center;
}
#main>h1 span img{
    height: 40px;
    rotate: 90deg;
    transition: 0.3s ease;
}
#main #endec-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#021b38;
    border-radius: 10px;
    padding: 8px 8px;
    width: 300px;
    margin: 35px 0;
}
#endec-div h3{
    font-size: 17px;
    display: flex;
    border-radius: 8px;
    font-weight: 500;
    align-items: center;
    /* background-color: red; */
    cursor: pointer;
    padding: 12px 10px;
    transition: 0.2s ease;
}
#enc-btn{
    background-color:#445a72;
}
#endec-div h3 span{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
#endec-div h3 img{
    height: 20px;
}
#encryption{
    width: 450px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    /* font-weight: bold; */
    /* font-size: 2rem; */
}

#encryption h5{
    font-size: 16px;
    font-weight: 500;
    color: #6e6e6e;
    margin-bottom: 13px;
}
#encryption textarea{
    width: 100%;
    height: 70px;
    border: 1px solid #154c79;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 17px;
    outline: none;
    background-color: #030b14;
}
#encryption input{
    width: 100%;
    border: 1px solid #154c79;
    padding:20px;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    background-color: #030b14;
}

#encryption button{
    display: flex;
    align-items: center;
    color: #6e6e6e;
    background-color: #021b38;
    border: 3px solid #172c41;
    /* border: none; */
    width: 100%;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    color: #eee;
    font-size: 17px;
}
button span{
    display: flex;
    margin-right: 10px;
}
button img{
    height: 20px;
}

#decryption{
    width: 450px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    /* font-weight: bold; */
    /* font-size: 2rem; */
    display: none;
}

#decryption h5{
    font-size: 16px;
    font-weight: 500;
    color: #6e6e6e;
    margin-bottom: 13px;
}
#decryption textarea{
    width: 100%;
    height: 70px;
    border: 1px solid #154c79;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 17px;
    outline: none;
    background-color: #030b14;
}
#decryption input{
    width: 100%;
    border: 1px solid #154c79;
    padding:20px;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    background-color: #030b14;
}

#decryption button{
    display: flex;
    align-items: center;
    color: #6e6e6e;
    background-color: #021b38;
    border: 3px solid #172c41;
    /* border: none; */
    width: 100%;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    color: #eee;
    font-size: 17px;
}
button span{
    display: flex;
    margin-right: 10px;
}
button img{
    height: 20px;
}

#result{
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #030b14;
    border: 4px solid #172c41;
    width: 45%;
    display: none;
    margin-top: 40px;
}


@media (max-width:500px){
    #encryption{
        width: 300px;
      
    }
    #decryption{
        width: 300px;
      
    }
}